<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="canvas" width="500px" height="500px">


</canvas>

</body>
<script>

    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");


    //    context.fillStyle = "#0f0"
    //    context.scale(1.5, 1.5)
    //    context.rotate(10)
    //    context.fillRect(0, 0, 100, 100);
    //    var img = new Image();
    //    img.onload = function () {
    //        context.drawImage(img, 0, 0)
    //    }
    //    img.src = "res/fk.jpg";
    //    ctx.beginPath();
    //    ctx.arc(100, 100, 100, 0, Math.PI * 2, true);
    //    ctx.closePath();
    //    ctx.fillStyle = "#00f";
    //    ctx.fill()
    //    ctx.fillstyle = "#00f";

    //        ctx.moveTo(10,10);
    //        ctx.lineTo(100, 100);
    //        ctx.strokeStyle = "#000"
    //        ctx.fillStyle="2px"
    //        ctx.stroke();
    //    ctx.fillStyle = "#0f0"
    //    ctx.beginPath();
    //    ctx.bezierCurveTo(0, 0, 100, 100, 5, 5)
    //    ctx.fill();
    //    ctx.strokeText()

//    var g1 = ctx.createLinearGradient(0, 0, 0, 200);
//    g1.addColorStop(0, "#f00");
//    g1.addColorStop(1, "#000");
//    ctx.fillStyle = g1;
//    ctx.fillRect(0, 0, 200, 200)
//
//    var g2 = ctx.createRadialGradient(400, 0, 0, 0, 0, 400)
//    g2.addColorStop(0,"#f00")
//    g2.addColorStop(0.5, "#ff0");
//    g2.addColorStop(1, "#f00");
//    ctx.fillStyle = g2;
//    ctx.fillRect(200, 200, 300, 300)

</script>
</html>