<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="">
    <input type="text" name="browser" list="browsers">
    <input type="submit">

    <datalist id="browsers">
        <option value="Internet Explorer">
        <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari">
    </datalist>
</form>
<hr>

<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
    <input type="range" id="a" value="50">100 +
    <input type="number" id="b" value="50">=
    <output name="x" for="a b"></output>
</form>
<hr>

<form action="demo-form.php" autocomplete="on">
    First name:<input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    E-mail: <input type="email" name="email" autocomplete="off"><br>不自动
    <input type="submit">
</form>
<hr>

<form action="" novalidate>
    E-mail: <input type="email" name="user_email" autofocus>
    <input type="submit">
</form>
<hr>

<form action="demo-form.php" id="form1">
    First name: <input type="text" name="fname"><br>
    <input type="submit" value="提交">
</form>

Last name: <input type="text" name="lname" form="form1">
<hr>

<form action="demo-form.php" enctype="text/plain" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    <input type="submit" value="提交"><br>
    <input type="submit" formaction="demo-admin.php" value="form提交" formenctype="multipart/form-data" formmethod="get">
    <input type="submit" formtarget="_blank" value="提交到一个新的页面上">
</form>
<hr>

<form action="demo-form.php">
    First name: <input type="text" name="fname" placeholder="孟健"><br>
    Last name: <input type="text" name="lname" required><br>
    <input type="image" src="img/img_submit.gif"  alt="Submit" width="24" height="24">
</form>
<hr>

Select images: <input type="file" name="img" multiple>
Send Emails: <input type="emai" name="email" multiple>

</body>
</html>