<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input {
            margin: 5px;
        }
    </style>
</head>
<body>
颜色：<input type="color" name="color"><br>

日期：<input type="date" name="birthday"><br>

<!--时间：<input type="datetime" name="datetime"><br>-->
生日 (日期和时间): <input type="datetime-local" name="birthdayTime"><br>

<form action="">
    邮箱:<input type="email" name="email">
    <input type="submit">
</form>

number:<input type="number" name="number" min="1" max="10" step="2" maxlength="2"><br>

range:<input type="range" name="points" min="1" max="10"><br>

生日 (月和年): <input type="month" name="bdaymonth"><br>

选择时间: <input type="time" name="usr_time"><br>
<hr>
<form action="">
    url:<input type="url" name="url">
    <input type="submit">
</form>

</body>
</html>