<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="/html/">HTML</a> |
    <a href="/css/">CSS</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/jquery/">jQuery</a>
</nav>
<hr>
audio
<audio src="res/baobao.mp3" controls="controls">
    <source src="horse.ogg" type="audio/ogg">
    您的浏览器不支持 audio 元素.
</audio>
<br>

<progress value="22" max="100"></progress>
<hr>
<!--<audio src="res/baobao.mp3" autoplay="controls" controls="true" preload="auto" muted>

    您的浏览器不支持 audio 元素.
</audio>-->
video
<video id="myVideo" src="res/xiaohua.mp4" width="240" height="400" title="校花" controls="controls"></video>
<br>
<button id="play">play</button>

<hr>
form -datalist
<form action="#" method="get">
    <input list="browsers" name="browser">
    <datalist id="browsers">
        <option value="Internet Explorer">
        <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari">
    </datalist>
    <input type="submit">
</form>
<hr>
<details>
    <summary>Copyright 1999-2016.</summary>
    <p> - by Refsnes Data. All Rights Reserved.</p>
    <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
    <p><b>注意：</b>目前，只有 Chrome 和 Safari 6 支持 details 标签。</p>
</details>
<hr>
<ruby>
    漢 <rp>(</rp><rt>Kan</rt><rp>)</rp>
    字 <rp>(</rp><rt>ji</rt><rp>)</rp>
</ruby>

</body>
<script>

    var myVideo=document.getElementById("myVideo")
    document.getElementById("play").addEventListener("click",function () {
        if (myVideo.paused) {
            myVideo.play();
        }else{
            myVideo.pause();
        }
    })
</script>
</html>