<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>
    if (typeof(EventSource) !== "undefined") {
        var source = new EventSource("http://localhost/weixin/push")

        source.onopen = function (event) {
            console.log("open")
        }
        source.onmessage = function (event) {
            console.log(event.data)
        }
    }
    else {
        console.log("浏览器不支持 Server-Sent..")
    }
</script>
</html>